In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for statistical data visualization
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [3]:
df=pd.DataFrame(data=pd.read_csv('/content/gdrive/My Drive/ML Mini Project/Customers.csv'))
df

          ID  Gender Ever_Married  ...  Family_Size  Var_1 Segmentation
0     462809    Male           No  ...          4.0  Cat_4            D
1     462643  Female          Yes  ...          3.0  Cat_4            A
2     466315  Female          Yes  ...          1.0  Cat_6            B
3     461735    Male          Yes  ...          2.0  Cat_6            B
4     462669  Female          Yes  ...          6.0  Cat_6            A
...      ...     ...          ...  ...          ...    ...          ...
8063  464018    Male           No  ...          7.0  Cat_1            D
8064  464685    Male           No  ...          4.0  Cat_4            D
8065  465406  Female           No  ...          1.0  Cat_6            D
8066  467299  Female           No  ...          4.0  Cat_6            B
8067  461879    Male          Yes  ...          3.0  Cat_4            B

[8068 rows x 11 columns]

In [4]:
df.isnull().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [5]:
df = df.drop(['ID'], axis=1)

**Encoding**

In [6]:
# Replacing Male with 0 and Female with 1 in Gender column
df['Gender'] = df['Gender'].replace({'Male':0,'Female':1})
# Replacing No with 0 and Yes with 1 in Ever_Married column
df['Ever_Married'] = df['Ever_Married'].replace({'No':0,'Yes':1})
# Replacing No with 0 and Yes with 1 in Graduated column
df['Graduated'] = df['Graduated'].replace({'No':0,'Yes':1})
df['Spending_Score'] = df['Spending_Score'].replace({'Low':0,'Average':1,'High':2})
df['Var_1'] = df['Var_1'].replace({'Cat_1':1,'Cat_2':2,'Cat_3':3,'Cat_4':4,'Cat_5':5,'Cat_6':6,'Cat_7':7})
df['Profession'] = df['Profession'].replace({'Artist':0,'Healthcare':1,'Entertainment':2,'Engineer':3,'Doctor':4,'Lawyer':5,'Executive':6,'Marketing':7,'Homemaker':8})

In [7]:
# Replacing A with 0, B with 1, C with 2 and D with 3 in Spending_Score column
df['Segmentation'] = df['Segmentation'].replace({'A':0,'B':1,'C':2,'D':3})

In [8]:
df.isnull().sum()

Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [9]:
df['Ever_Married'].fillna(int(df['Ever_Married'].mean()), inplace=True)
df['Graduated'].fillna(int(df['Graduated'].mean()), inplace=True)
df['Profession'].fillna(int(df['Profession'].mean()), inplace=True)
df['Work_Experience'].fillna(int(df['Work_Experience'].mean()), inplace=True)
df['Family_Size'].fillna(int(df['Family_Size'].mean()), inplace=True)
df['Var_1'].fillna(int(df['Var_1'].mean()), inplace=True)

In [10]:
df

      Gender  Ever_Married  Age  ...  Family_Size  Var_1  Segmentation
0          0           0.0   22  ...          4.0    4.0             3
1          1           1.0   38  ...          3.0    4.0             0
2          1           1.0   67  ...          1.0    6.0             1
3          0           1.0   67  ...          2.0    6.0             1
4          1           1.0   40  ...          6.0    6.0             0
...      ...           ...  ...  ...          ...    ...           ...
8063       0           0.0   22  ...          7.0    1.0             3
8064       0           0.0   35  ...          4.0    4.0             3
8065       1           0.0   33  ...          1.0    6.0             3
8066       1           0.0   27  ...          4.0    6.0             1
8067       0           1.0   37  ...          3.0    4.0             1

[8068 rows x 10 columns]

In [11]:
df.isna().sum()

Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Gender           8068 non-null   int64
 1   Ever_Married     8068 non-null   float64
 2   Age              8068 non-null   int64
 3   Graduated        8068 non-null   float64
 4   Profession       8068 non-null   float64
 5   Work_Experience  8068 non-null   float64
 6   Spending_Score   8068 non-null   int64
 7   Family_Size      8068 non-null   float64
 8   Var_1            8068 non-null   float64
 9   Segmentation     8068 non-null   int64
dtypes: float64(6), int64(4)
memory usage: 630.4 KB

In [16]:
X = df

y = df['Segmentation']

In [13]:
cols = X.columns

In [17]:
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()
X = ms.fit_transform(X)

In [18]:
X = pd.DataFrame(X, columns=[cols])

In [19]:
X.head()

  Gender Ever_Married       Age  ... Family_Size     Var_1 Segmentation
0    0.0          0.0  0.056338  ...       0.375  0.500000     1.000000
1    1.0          1.0  0.281690  ...       0.250  0.500000     0.000000
2    1.0          1.0  0.690141  ...       0.000  0.833333     0.333333
3    0.0          1.0  0.690141  ...       0.125  0.833333     0.333333
4    1.0          1.0  0.309859  ...       0.625  0.833333     0.000000

[5 rows x 10 columns]

In [23]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=2, random_state=0) 

kmeans.fit(df)

KMeans(n_clusters=2, random_state=0)

In [24]:
kmeans.cluster_centers_

array([[ 0.41927627,  0.88413361, 62.03305498,  0.72268615,  2.69972164,
         1.69972164,  0.8914405 ,  2.506611  ,  5.38587335,  1.35873347],
       [ 0.47092799,  0.40469773, 33.19368502,  0.55660377,  2.17346939,
         3.06045437,  0.35502503,  2.98536773,  5.00077012,  1.67443204]])

In [25]:
kmeans.inertia_

893075.3164168342

In [26]:
labels = kmeans.labels_

# check how many of the samples were correctly labeled
correct_labels = sum(y == labels)

print("Result: %d out of %d samples were correctly labeled." % (correct_labels, y.size))

Result: 1652 out of 8068 samples were correctly labeled.

In [27]:
print('Accuracy score: {0:0.2f}'. format(correct_labels/float(y.size)))

Accuracy score: 0.20